@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
}
:root {
  --primaryColor: #ca940c;
  --primaryColorBg: #fdfbf6;
  --primary: hsla(247, 87%, -24%, 0.1);
  --secondary: hsla(268, 148%, -54%, 0.7);
}

body {
  font-family: "Poppins";
}

section {
  margin-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

section.hero {
  margin: 0;
}

hr {
  background: #d3d3d3;
  width: 100%;
  border: 1px solid #d3d3d3;
}

a {
  display: flex;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER start */
header {
  padding: 20px 30px;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
}
header img {
  width: 70px;
}
header .container {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}
header ul {
  display: none;
  gap: 30px;
}
header ul li {
  justify-content: space-between;
  list-style-type: none;
}
header ul li a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

header ul li a.active {
  color: var(--primaryColor);
}

header ul li a:hover {
  color: var(--primaryColor);
}
header ul .nav {
  display: none;
}

header button {
  display: flex;
  background-color: transparent;
}

header button img {
  width: 2.5rem;
}

header #cancel {
  display: none;
}

header .mobile_nav {
  position: fixed;
  background-color: #fff;
  border-top: 1px solid #555;
  width: 100%;
  height: calc(100% - 80px);
  left: 0;
  top: 80px;
  z-index: 99;
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 50px;
  left: 100vw;
  transition: 0.5s;
}

header .mobile_nav a {
  font-size: 24px;
  font-weight: 500;
  color: #555;
}

header .mobile_nav a.active {
  color: var(--primaryColor);
}

header .mobile_nav.slide {
  left: 0vw;
}
/* End Header */

/* Meet The Team Section */
section.meet {
  background-color: #f6f6f6;
  padding-top: 70px;
  padding-bottom: 70px;
}

section.meet .container {
  display: grid;
  grid-gap: 50px;
}

section.meet img {
  border-radius: 15px;
  width: 100%;
}

section.meet .right_side {
  text-align: center;
  line-height: 30px;
  display: grid;
  gap: 20px;
  min-width: 300px;
}

section.meet .right_side p {
  color: #555;
}

section.meet h2 span {
  display: block;
  border: 1px solid #d3d3d3;
  line-height: inherit;
  background: #d3d3d3;
  margin-top: 10px;
}

section.meet button {
  color: #fff;
  background-color: var(--primaryColor);
  width: max-content;
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 16px;
  margin: auto;
  margin-top: 20px;
}

/* End Meet The Team Section */

/* Newsletter section start */
section.newsletter {
  background-image: linear-gradient(-8deg, var(--primary), var(--secondary)),
    url(../images/newsletter.png);
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
section.newsletter h3 {
  font-size: clamp(22px, 5vw, 32px);
  font-weight: 400;
}
section.newsletter p {
  margin-top: 24px;
  font-size: clamp(16px, 5vw, 24px);
}

section.newsletter form {
  margin-top: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 700px;
  margin-inline: auto;
}

section.newsletter form input {
  background: #fff;
  padding: 15px;
  border-radius: 5px 0 0 5px;
  padding: 10px 15px;
  color: #646464;
  border: none;
}
section.newsletter button {
  background-color: var(--primaryColor);
  color: white;
  padding: 15px 20px;
  border-radius: 0 5px 5px 0;
  font-size: 14px;
}
section.newsletter button:hover {
  background-color: #96e7c0;
}
section.newsletter button:active {
  background-color: #176841;
}
/* Newsletter section end */

/* Footer */
footer {
  background-color: #131313;
  padding-left: 30px;
  padding-right: 30px;
}

footer .contacts {
  display: grid;
  gap: 15px;
  padding-top: 70px;
  padding-bottom: 70px;
}

footer .contacts div:nth-of-type(-n + 3) {
  display: grid;
  gap: 5px;
}

footer .socials {
  display: flex;
  gap: 20px;
}

footer h3,
footer h4 {
  color: #fff;
}

footer p,
footer a {
  color: #c2c2c2;
}

footer .copyright {
  padding-block: 20px;
  margin-top: 20px;
  border-top: 1px solid #c2c2c2;
}
/* End Footer */

/* ----------RESPONSIVENESS----------- */
@media screen and (min-width: 640px) {
  section {
    margin-top: 100px;
  }

  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 768px) {
  header ul {
    display: flex;
  }

  header button {
    display: none;
  }

  header .mobile_nav {
    transition: none;
  }

  .container {
    max-width: 768px;
  }

  /* meet section start */
  section.meet .container {
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  section.meet .right_side {
    text-align: left;
  }

  section.meet h2 span {
    width: 65px;
  }

  section.meet button {
    margin: 0;
  }
  /* meet section end */

  footer .contacts div:nth-of-type(-n + 3) {
    display: flex;
    gap: 15px;
  }
}

@media screen and (min-width: 996px) {
  .container {
    max-width: 996px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
