* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* HEADER start */
section.header {
  /* padding: 5% 5%; */
  display: flex;
  align-content: center;
}
section.header img {
  width: 143px;
  height: 70px;
}
section.header .container{
  display: flex;
}
section.header ul {
  display: flex;
  padding-left: 13%;
  justify-content: space-between;
  width: 100%;
  align-self: center;
}
section.header ul li {
  justify-content: space-between;
  list-style-type: none;
}
section.header ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
section.header ul li a:hover {
  color: #96e7c0;
}
section.header ul li a:active {
  color: #176841;
}
section.header ul .nav  {
  display: none;
}
/* HEADER end */

/* Hero Start */
section.serviceHero {
  background-color:  rgba(12, 90, 52, 0.75);;
  height: 40vh;
  color: white;
  text-align: center;
}
section.serviceHero div {
  padding: 10%;
}
/* Hero end */

/* about experts start */
/* left part */
section.about {
  padding: 3% 0%;
  background-color: #f7fffb;
  grid-gap: 78px;
}
section.about .container{
  display: grid;
  grid-template-columns: 50% 50%;
}
section.about h1 {
  font-size: 40px;
}
section.about h1 span {
  color: #2ed081;
}
section.about .left-part {
  width: 90%;
}
section.about .left-part h4 {
  color: #2ed081;
  margin-bottom: 30px;
}
section.about .left-part p {
  margin-top: 15px;
  line-height: 35px;
}
section.about .left-part ul {
  margin-top: 20px;
  line-height: 32px;
}
section.about .left-part ul li {
  list-style-type: none;
}
section.about .left-part ul li i {
  font-size: 10px;
  color: #2ed081;
  background-color: #def5ee;
  padding: 5px;
  border-radius: 50%;
}
section.about .left-part div a {
  background-color: #2ed081;
  color: white;
  text-decoration: none;
  padding: 10px;
}
section.about .left-part div {
  margin-top: 20px;
}
section.about .left-part div  a:hover{
  background-color: #96E7C0;
}
section.about .left-part div  a:active{
  background-color: #176841;
}
/* left part end */

/* right part start */
section.about .right-part {
  background-image: url(../images/aboutEXP.png);
  height: 76vh;
  background-repeat: no-repeat;
}
/* right part end */
/* about experts end */

/* Team members start */
section.TeamMembers {
  padding: 4% 5%;
}
section.TeamMembers div:nth-child(1) {
  text-align: center;
  line-height: 45px;
}
section.TeamMembers div:nth-child(1) h3 {
  color: #2ed081;
  font-size: 24px;
}
section.TeamMembers div:nth-child(1) h1 {
  font-size: 40px;
}
section.TeamMembers .TeamPhoto {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 5%;
    grid-gap: 40px;
}
section.TeamMembers .TeamPhoto div:nth-child(1) {
  background-image: url(../images/team\ 1.png);
  background-repeat: no-repeat;
  height: 60vh;
  position: relative;
}

section.TeamMembers .TeamPhoto div:nth-child(2) {
  background-image: url(../images/team\ 2.png);
  background-repeat: no-repeat;
  height: 60vh;
  position: relative;
}
section.TeamMembers .TeamPhoto div:nth-child(3) {
  background-image: url(../images/team\ 3.png);
  background-repeat: no-repeat;
  height: 60vh;
  position: relative;
}
section.TeamMembers .teamName {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    grid-gap: 103px;
    left: 15%;
    position: absolute;
    top: 213%;
}
section.TeamMembers .teamName div {
  width: 303px;
  align-content: center;
  line-height: 38px;
  background-color: white;
  border-radius: 4px;
  padding: 5% 10%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

/* Team members end */
